[Unit]
Description=Continously restart udpbohrer Outside as a service - edit for your needs
# Edit to your location of udpbohrer excutable, parameter file, User
# The parameter file should be readable only to the user running udpbohrer 

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=env GOMAXPROCS=5 /usr/local/bin/udpbohrer Outside /etc/udpbohrer.yaml
ExecStop=killall udpbohrer
User=udpbohrer
Grouo=udpbohrer
# Keeps running in foreground until kill, outputs on stdout and stderr
Type=simple
SyslogIdentifier=udpbohrer
# In case of error or timeout, udpbohrer terminates
# Always restart for reliable operation 
Restart=always
StartLimitIntervalSec=1
StartLimitBurst=100
RestartSec=10


